table {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  
}

tr:nth-child(even){background-color: #d5eef7;}
tr:hover {background-color: #bae4f5}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: lightblue !important;
}